PORT=3000
NODE_ENV=development

# Seguridad y CORS
# En producción usar:
# ALLOWED_ORIGIN=https://app.hogwartslzc.com.mx
ALLOWED_ORIGIN=*

# Supabase reservado para futuras integraciones
SUPABASE_URL=your_url
SUPABASE_SERVICE_ROLE_KEY=your_key
